## Visual Studio / VS Code
.vs/
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Others
*.rsuser
project.lock.json
project.fragment.lock.json
artifacts/
